@media (min-width: 769px) {

    .hamburger {
        display: none;
    }

    nav#main-nav {
        display: block;
    }

    nav#main-nav ul {
        flex-direction: row;
    }

    .main-grid {
        grid-template-columns: 1fr 1fr;
    }

    .student-photo {
        width: 30%;
        height: 180px !important;
        max-height: 180px !important;
        margin: 1rem auto;
        border-radius: 8px;
    }

    main h1 {
        font-size: 2rem;
    }
}